{% extends 'products-search.html.twig' %}

{% block search_header %}
<hr/>
<section class="placeholders">
    <form method="post">
        <div class="row mb-4">
            <div class="col-sm-6 col-lg-4">
                <input type="hidden" name="submit" value="1"/>
                <input type="text" class="form-control" name="search" placeholder="Nach Name, Inventarnummer oder Kategorie suchen..." value="{{ search_string ? search_string : '' }}"/>
            </div>
        </div>
    </form>
</section>
{% endblock %}