body, html {
    height: 100vh;
}
.system-status .alert {
    margin-bottom: 0;
}

.card {
    justify-content: space-between;
}
.card img, .card .img {
    flex: 1 1;
}
.card .card-body {
    flex: 0;
}


.inventurMissing {

}

.inventurMissing__product img {
    max-width: 5vw;
    height: auto;
}